.main_div{
    width: 1400px;
    height: 600px;
    background-color: rgb(17, 150, 150);
    margin-left: 25px;
}


.nav_bar{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_option{
    margin-right: 20px;
    font-size: 15px;
    
}


.nav_bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.main-section{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 0);
    display: flex;
}
.sidebar{
    width: 300px;
    height: 500px;
    background-color: rgb(0, 255, 0);
    margin-bottom: 20px;
    border-radius: 10px;
}


.sidebar h2{
    margin-left: 10px;
}


.side-bar_option{
    margin-left: 10px;
    font-size: 18px;
    width: 90%;
    height: 30px;
    border: 1px solid black;
    padding-left: 10px;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    opacity: 0.8;
}


.notice_board{
    width: 95%;
    height: 170px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.notice_board h3{
    margin-left: 10px;
    padding-top: 10px;
}

.notice_board p{
    margin-left: 10px;
    padding-top: 5px;
}


.view_details{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: blue;
    border-radius: 10px;

}


.content_area{
    width: 1100px;
    height: 500px;
    background-color: rgb(0, 0, 255);
    float: right;
    border-radius: 10px;
}


.registration_div{
    width: 98%;
    height: 150px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}


.registration_div h3{
    margin-left: 10px;
    padding-top: 10px;
}
.table_header{
    color:black
}

.course_table{
    width: 98%;
    height: 20px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    background-color: lightsalmon;
    color: white;
    
}



.sign-up_div{
    width: 98%;
    height: 280px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

.sign-up_div h3{
    margin-left: 10px;
    padding-top: 10px;
}
.sign-up-label{
    font-size: 18px;
    margin-left: 10px;

}


.sign-up-input{
    width: 98%;
    margin-left: 15px;
    margin-top: 5px;
}


.sign-up-button{
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
}



.footer{
    width: 100%;
    height: 50px;
    background-color:lightslategray;
    border-radius: 10px;
    display: flex;
}


.footer_class{
    align-items: center;
    justify-content: center;
    margin-left: 35%;


}.footer_class p{
    font-size: 20px;
    color: white;
}